################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwitterApiSandbox/obj/Debug
/TwitterApiSandbox/.vs
/TwitterApiSandbox/packages
/TwitterApiSandbox/Properties/Settings.Designer.cs
/TwitterApiSandbox/Properties/Settings.settings
/TwitterApiSandbox/bin/Debug
/TwitterApiSandbox/TwitterConnectionInfo.cs
