<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterApiSandbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TwitterApiSandbox.Properties.Settings>
      <setting name="ConsumerKey" serializeAs="String">
        <value>bNLiXX4pSnlcielbkMC7TiSh9</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>tDDboa7PNUbl0gqVcCSoWWmGuGXJe2N5w8B7iWbfd24mw8iSA2</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value>15018756-NO3ybnZgZDqGHzKt9yjxWphVQ7XEdUuYrJ5n9pd7n</value>
      </setting>
      <setting name="AccessTokenSecret" serializeAs="String">
        <value>ZrJ4L35TsVtIYF07jbosfV9toZANnpOhQRknYWnngTT9q</value>
      </setting>
    </TwitterApiSandbox.Properties.Settings>
  </applicationSettings>
</configuration>